<?xml version="1.0" encoding="UTF-8"?>
<directive id="jpa" name="jpa">
	<description> This directive provides macros and functions to generate
		code specific to Spring Beans / Data implementation.</description>

	<macro name="service_entity_dependency">
		<description>Renders an entity dependency, i.e. a reference to its corresponding Spring Data repository</description>
		<param>
			<name>dep</name>
			<description>a class dependency</description>
		</param>
		<code>
<![CDATA[<#macro service_entity_dependency dep>
<#if dep.supplier.hasStereotype("entity")>
	    @org.springframework.beans.factory.annotation.Autowired
		private ${dep.supplier.name}Repository ${dep.supplier.name?uncap_first}Repository;
		
		public  ${dep.supplier.name}Repository get${dep.supplier.name}Repository() {
			return this.${dep.supplier.name?uncap_first}Repository;
		}
		
		public void  set${dep.supplier.name}Repository(final ${dep.supplier.name}Repository repo ) {
			this.${dep.supplier.name?uncap_first}Repository = repo;
		}
</#if></#macro>]]>
		</code>
	</macro>
	
</directive>